<!doctype html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

<title>Sistema Bancário - Cadastro de Conta</title>
</head>
<body>
	
	<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->

	<main role="main" class="container">
		<div class="starter-template">
			
			<span th:text="${mensagem}" style="color:blue"></span>

			<div class="col-md-8 order-md-1">
				<h1 class="mb-3">Cadastro de conta</h1>
				
				<form th:action="@{/contas}" method="POST" th:object="${contaForm}">
					<input type="hidden" th:field="*{conta.id}"/>
					<div class="row">
						<div class="col-md-3 mb-3">
							<label for="correntista">Número</label> <input type="text"
								th:field="*{conta.numero}" class="form-control" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="correntista">Correntista</label> 
							<select th:field="*{correntistaId}" class="form-control">
								<option th:each="cor : ${correntistaItems}"
									th:value="${cor.id}" th:label="${cor.nome}"></option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 mb-3">
							<label for="lastName">Data</label> <input type="text"
								th:field="*{conta.data}" class="form-control" />
						</div>
					</div>
					<hr class="mb-4">
					<button class="btn btn-primary btn-lg btn-block" type="submit">Salvar</button>
				</form>
			</div>

		</div>
	</main>

	<!--/*/ <th:block th:include="fragments/footerinc :: foot"></th:block> /*/-->

	</body>
</html>