<!doctype html5>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

<script th:inline="javascript">
    function sendDelete(url) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("DELETE", url, true);
        xhttp.onload = function () {
            let responseURL = xhttp.responseURL;
            console.log("Redirecting to:", responseURL);
            window.location.replace(responseURL);
        };
        xhttp.send();
    }
</script>
<title>Sistema Bancário - Contas Cadastradas</title>
</head>
<body>
	
	<!--/*/ <th:block th:include="fragments/header :: menu"></th:block> /*/-->

	<main role="main" class="container">

		<div class="starter-template">
			<h1>Listagem de Contas</h1>
			<hr />
			
			<div th:if="${not #strings.isEmpty(mensagem)}" th:utext="${mensagem} +'<button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;><span aria-hidden=&quot;true&quot;>&times;</span></button>'" class="alert alert-primary alert-dismissible fade show" role="alert"></div>

			<form th:action="@{/contas/form}" method="GET">
				<button class="btn btn-primary" type="submit">Nova</button>
			</form>
			<br />
			
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>Número</th>
						<th>Correntista</th>
						<th style="text-align: center;">Data abertura</th>
						<th>Operações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="conta : ${contas}">
						<td><a th:href="${conta.id}" th:text="${conta.numero}"></a></td>
						<td><a th:text="${conta.correntista.nome}"></a></td>
						
						<td th:text="${#dates.format(conta.data, 'dd/MM/yyyy')}"
							style="text-align: center;" />
						<td><a class="btn btn-outline-primary btn-sm" th:href="@{/contas/{id}/delete(id=${conta.id})}">
								<img th:src="@{/resources/icons/trash.svg}" title="Excluir conta" alt="Excluir conta"/>
							</a>
							<a th:href="@{/contas/{id}/transacoes/(id=${conta.id})}" class="btn btn-outline-primary btn-sm text-white"
								type="submit">
								<span class="color:white"><img th:src="@{/resources/icons/file-earmark-diff.svg}" title="Ver transações" alt="Ver transações"/></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</main>
	
	<!--/*/ <th:block th:include="fragments/footerinc :: foot"></th:block> /*/-->
	
</body>
</html>