<!doctype html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author"
	content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Jekyll v4.1.1">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/estilo.css}" />
<link rel="icon" th:href="@{/resources/images/favicon.ico}">
</head>
<body>
<div th:fragment="foot">
<!-- /.container -->
	<script th:src="@{/resources/js/jquery-5.5.2.slim.min.js}"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="/banco/resources/js/jquery.slim.min.js"><\/script>')
	</script>
	<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
</div>
</body>
</html>